## 문제 1
- iris 데이터 셋을 불러와 Sepal.Width 칼럼에 대해 Sepal.Width 의 평균값을 기준으로 3배 표준편차 이상으로 떨어진 값들의 합을 구하여라

In [ ]:
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd


iris = load_iris()

iris

In [2]:
df = pd.DataFrame(data = iris['data'] , columns = iris['feature_names'])

In [3]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [4]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [6]:
mean_ = df['sepal width (cm)'].mean()

In [7]:
std_ = df['sepal width (cm)'].std()

In [8]:
mean_ , std_

(3.0573333333333337, 0.4358662849366982)

In [9]:
low = mean_ - (3 * std_)
high = mean_ + (3 * std_)

In [12]:
df.loc[(df['sepal width (cm)']<low) | (df['sepal width (cm)'] >high) , 'sepal width (cm)'].sum()

4.4

## 문제2
- mtcars2 데이터 셋을 불러와 disp 컬럼에 대해서 순위를 부여한 후 1위부터 20위 까지의 값들의 표준편차를 구하고 소수점 셋째 자리에서 반올림하여 나타내라 (단 동점은 동일한 순위를 부여)

In [14]:
df = pd.read_csv('/content/drive/MyDrive/빅데이터 분석기사/data/mtcars/mtcars.csv')

In [52]:
df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,Front,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,Front,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,Front,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,Rear,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,Front,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [17]:
print(help(df.rank))

Help on method rank in module pandas.core.generic:

rank(axis=0, method: 'str' = 'average', numeric_only: 'bool_t | None | lib.NoDefault' = <no_default>, na_option: 'str' = 'keep', ascending: 'bool_t' = True, pct: 'bool_t' = False) -> 'NDFrameT' method of pandas.core.frame.DataFrame instance
    Compute numerical data ranks (1 through n) along axis.

    By default, equal values are assigned a rank that is the average of the
    ranks of those values.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Index to direct ranking.
        For `Series` this parameter is unused and defaults to 0.
    method : {'average', 'min', 'max', 'first', 'dense'}, default 'average'
        How to rank the group of records that have the same value (i.e. ties):

        * average: average rank of the group
        * min: lowest rank in the group
        * max: highest rank in the group
        * first: ranks assigned in order they appear in the array
        * dense: like 'min', but rank always increases by 1 between groups.

    numeric_only : bool, optional
        For DataFrame objects, rank only numeric columns if set to True.
    na_option : {'keep', 'top', 'bottom'}, default 'keep'
        How to rank NaN values:

        * keep: assign NaN rank to NaN values
        * top: assign lowest rank to NaN values
        * bottom: assign highest rank to NaN values

    ascending : bool, default True
        Whether or not the elements should be ranked in ascending order.
    pct : bool, default False
        Whether or not to display the returned rankings in percentile
        form.

    Returns
    -------
    same type as caller
        Return a Series or DataFrame with data ranks as values.

    See Also
    --------
    core.groupby.GroupBy.rank : Rank of values within each group.

    Examples
    --------
    >>> df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
    ...                                    'spider', 'snake'],
    ...                         'Number_legs': [4, 2, 4, 8, np.nan]})
    >>> df
        Animal  Number_legs
    0      cat          4.0
    1  penguin          2.0
    2      dog          4.0
    3   spider          8.0
    4    snake          NaN

    Ties are assigned the mean of the ranks (by default) for the group.

    >>> s = pd.Series(range(5), index=list("abcde"))
    >>> s["d"] = s["b"]
    >>> s.rank()
    a    1.0
    b    2.5
    c    4.0
    d    2.5
    e    5.0
    dtype: float64

    The following example shows how the method behaves with the above
    parameters:

    * default_rank: this is the default behaviour obtained without using
      any parameter.
    * max_rank: setting ``method = 'max'`` the records that have the
      same values are ranked using the highest rank (e.g.: since 'cat'
      and 'dog' are both in the 2nd and 3rd position, rank 3 is assigned.)
    * NA_bottom: choosing ``na_option = 'bottom'``, if there are records
      with NaN values they are placed at the bottom of the ranking.
    * pct_rank: when setting ``pct = True``, the ranking is expressed as
      percentile rank.

    >>> df['default_rank'] = df['Number_legs'].rank()
    >>> df['max_rank'] = df['Number_legs'].rank(method='max')
    >>> df['NA_bottom'] = df['Number_legs'].rank(na_option='bottom')
    >>> df['pct_rank'] = df['Number_legs'].rank(pct=True)
    >>> df
        Animal  Number_legs  default_rank  max_rank  NA_bottom  pct_rank
    0      cat          4.0           2.5       3.0        2.5     0.625
    1  penguin          2.0           1.0       1.0        1.0     0.250
    2      dog          4.0           2.5       3.0        2.5     0.625
    3   spider          8.0           4.0       4.0        4.0     1.000
    4    snake          NaN           NaN       NaN        5.0       NaN

None

In [18]:
disp = df['disp']

In [19]:
disp

0     160.0
1     160.0
2     108.0
3     258.0
4     360.0
5     225.0
6     360.0
7     146.7
8     140.8
9     167.6
10    167.6
11    275.8
12    275.8
13    275.8
14    472.0
15    460.0
16    440.0
17     78.7
18     75.7
19     71.1
20    120.1
21    318.0
22    304.0
23    350.0
24    400.0
25     79.0
26    120.3
27     95.1
28    351.0
29    145.0
30    301.0
31    121.0
Name: disp, dtype: float64

In [21]:
rank = disp.rank(method = 'min' , ascending = False)

In [25]:
disp = disp[rank <= 20]

In [27]:
print(np.round(disp.std(),2))

97.47

## 문제 3
- cars93 데이터셋을 불러와 전체 레코드수 , 결측치가 있는 컬럼의수 , 전체 결측치 수 , 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후 전체 레코드의 수와 두개 이상의 컬럼이 동시에 결측인 레코드의 행번호들의 합을 구하여라

In [55]:
df = pd.read_csv('/content/drive/MyDrive/빅데이터 분석기사/data/cars93/Cars93.csv')
all_records = df.shape[0]

In [31]:
nan_counts = df.isnull().sum().sum()

In [34]:
na_df = df.isnull().sum()

In [44]:
na_col_counts = na_df[:][na_df.values > 0].count()

In [47]:
drop_cols = na_df[:][na_df.values>=10].index

In [53]:
df = df.dropna(subset=drop_cols, axis = 0)

93 RangeIndex(start=0, stop=93, step=1)

In [69]:
nums = sum(df.loc[df['Rear.seat.room'].isnull(),:].index)

In [70]:
nums

74

In [71]:
print(all_records + nums)

167

# 작업형 2

## 문제 1
- 타이타닉 데이터를 이용해 f1 score 와 예측 값을 csv 파일로 리턴